
body{
  margin: 0;
}
h1{
  margin-top: 0;
}
div{
  background-color: #95D1CC;
  margin-top: 0;
}
.midcontainer{
  width: 200px;
  height: 200px;
  margin: 0;
  background-color: red;
}
.bottom{
  width: 200px;
  height: 200px;
  margin: 0;
  background-color: blue;
}
