
body{
  margin: 0;
}
h1{
  margin-top: 0;
}
div{
  background-color: #95D1CC;
  margin-top: 0;
}

.bottom{
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: blue;
  left:200px;
  top: 200px;
}
.third{
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: yellow;
  left:0;
  top:0;

}
.midcontainer{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;

  left: 400px;
  background-color: red;
}
